.section{
    display: inline-flex;
    
}
.dr{
    margin-top: 10%;
    margin-left: -1%;

}
.black{
    margin-left: -9%;
    margin-top: 10%;
}
.vintage{
 
    margin-top: 10%;
}
.short{
    display:inline-flex;
}
.net{
    margin-top: 10%;
    margin-left: % ;

}
.jena{
    margin-left: 5%;
    margin-top: 10%;
}
.brk{
    margin-left: 19% ;
    margin-top: 10%;
}